* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(241, 19, 223);
    letter-spacing: 1px ;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px pink ;
    margin-bottom: 25px;
}

orm select,
form input {
    padding: 10px;
    border: 1px solid #ccd9ff;
    border-radius: 6px;
    background-color: #f8fbff;
    transition: 0.3s;
    width: 180px;
}

form select:focus,
form input:focus {
    border-color: #6a89ff;
    outline: none;
    box-shadow: 0 0 6px rgba(80,120,255,0.5);
}

button {
    padding: 10px 20px;
    background-color: #6a89ff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #4b6cb7;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

thead {
    background: #dfe9ff;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    color: #4b6cb7;
}

tbody tr:nth-child(even) {
    background: #f4f7ff;
}

tbody tr:hover {
    background: #eaf0ff;
    transition: 0.3s;
}

/* ===== CRUD BUTTONS ===== */
.action-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    border: none;
    transition: 0.3s;
}

/* Tombol Hapus */
.btn-delete {
    background-color: #ff6b6b;
    color: white;
}

.btn-delete:hover {
    background-color: #e63946;
}
